@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-700.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-regular.ttf") format("truetype");
}
