.dropdown {
  border-radius: 6px;
  overflow: hidden;
  background-color: $light-color;

  &:hover, &:focus-within {

    .dropdown__header, .dropdown__body {
      border-color: $primary-main;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    height: 44px;
    padding-left: 15px;

    border: 1px solid $primary-light;
    border-radius: 6px;
    overflow: hidden;

    &_open {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &__title {
    align-self: center;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 220px;
  }

  &__drop-btn {
    height: 100%;
    width: 44px;

    cursor: pointer;
    background-color: $light-color;
    border: none;

    &:focus {
      outline: none;
      @include button-shadow($primary-light);
    }
  }

  &__body {
    display: none;
    padding: 10px 7px;
    padding-left: 15px;

    border: 1px solid $primary-light;
    border-top: none;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  &_open {

    & .dropdown__body {
      display: block;
    }

    & .dropdown__header {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & + & {
      margin-top: 7px;
    }
  }

  &__item-title {
    @include h3-header;
  }

  &__item-btn {
    width: 30px;
    height: 30px;

    color: $primary-light;
    border-radius: 50%;

    cursor: pointer;
    background-color: $light-color;
    border: 1px solid $primary-light;

    &:focus {
      outline: none;
      @include button-shadow($primary-light);
    }

    &:disabled {
      color: $primary-lighten;
      border-color: $primary-lighten;
    }
  }

  &__count-int {
    padding: 0 10px;

    @include h3-header;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__footer-btn {
    cursor: pointer;

    &:disabled {
      cursor: initial;
      opacity: 0;
    }
  }
}
