include ../../components/_color-pallete/_color-pallete

block _colors-reference
    +_color-pallete({
        colorName: 'dark shade 100%',
        colorHex: '#1f2041'
    })

    +_color-pallete({
        colorName: 'dark shade 75%',
        colorHex: '#1f2041',
        colorMode: modifier.dark
    })

    +_color-pallete({
        colorName: 'dark shade 50%',
        colorHex: '#1f2041',
        colorMode: modifier.main
    })

    +_color-pallete({
        colorName: 'dark shade 25%',
        colorHex: '#1f2041',
        colorMode: modifier.light
    })

    +_color-pallete({
        colorName: 'dark shade 5%',
        colorHex: '#1f2041',
        colorMode: modifier.lighten
    })

    +_color-pallete({
        colorName: 'purple',
        colorHex: '#bc9cff',
        colorMode: modifier.cosmos
    })

    +_color-pallete({
        colorName: 'green',
        colorHex: '#6fcf97',
        colorMode: modifier.success
    })