.like-button {
  position: relative;

  height: 20px;
  max-width: 40px;
  padding: 0 18px;
  align-self: baseline;

  color: $primary-light;
  text-align: center;
  font-size: 10px;

  border: 1px solid currentColor;
  border-radius: 10px;
  background-color: $light-color;
  cursor: pointer;

  &::before {
    position: absolute;
    top: 50%;
    left: 4px;

    content: "\e87e";
    font-family: "Material Icons";

    transform: translateY(-50%);
  }

  &_active {
    color: $cosmos-color;

    &::before {
      content: "\e87d";
      @include gradient-text(
        $cosmos-color,
        0%,
        $cosmos-gradient-color,
        100%,
        180deg
      );
    }
  }

  &_hundred {
    max-width: 48px;
  }

  &_thousand {
    max-width: 56px;
  }

  &:focus {
    outline: none;
    @include button-shadow($primary-light);
  }
}
