.bullet-list {

  &__title {
    @include h3-header;
  }

  &__list {
    margin: 0;
    padding: 7px;
    padding-left: 0;
  }

  &__item {
    position: relative;

    padding-left: 20px;

    list-style: none;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 6px;

      width: 10px;
      height: 10px;

      background-color: $primary-light;
      border-radius: 50%;
    }
  }

  &__item + &__item {
    margin-top: 10px;
  }
}
