.color-pallete {
  display: flex;
  align-items: center;

  &__color-cube {
    width: 70px;
    height: 70px;
    background-color: $primary-darker;
    border-radius: 6px;

    &_dark {
      background-color: $primary-dark;
    }

    &_main {
      background-color: $primary-main;
    }

    &_light {
      background-color: $primary-light;
    }

    &_lighten {
      background-color: $primary-lighten;
    }

    &_cosmos {
      background-color: $cosmos-color;
    }

    &_success {
      background-color: $success-color;
    }
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
  }

  &__name-color {
    color: $primary-darker;
    text-transform: capitalize;
    font-size: $h2-text-size;
    font-weight: 700;
  }

  &__hex-color {
    color: $primary-darker;
    text-transform: uppercase;
    font-size: $h2-text-size;
    line-height: 22px;
  }
}
